{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Admin Create Theater</h1>
  <div class="row">
    <div class="col">
            <form method="POST" action="/manage/company/create/theater">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Name</label>
                        </div>
                        <div class="col">
                                <label for="cname">Company</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
        
                                    <input type="name" name="name" class="form-control" id="lastname" placeholder="Enter New Theater Name" required>
                                </div>
                                <div class="col">
                                        <select id="inputCompany" name="company" class="form-control">
                                                <option selected>Choose...</option>
                                                {% for company in companies %}
                                                <option>{{company}}</option>
                                                {% endfor %}
                                              </select>
    
                                    </div>
                    </div>
                  <div class="row">
                     <div class="col">
                                <label for="address">Street Address</label>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input type="name" class="form-control" name="address" id="lastname" placeholder="Enter Street Address" required>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        <label for="city">City</label>
                        <input type="name" class="form-control" name="city" id="city" placeholder="Enter City" required>
                      </div>
                      <div class="col">
                        <label for="state">State</label>
                        <select id="inputCompany" name="state" class="form-control">
                                                <option selected>Choose...</option>
                                                <option value="AL">AL</option>
                                                <option value="AK">AK</option>
                                                <option value="AZ">AZ</option>
                                                <option value="AR">AR</option>
                                                <option value="CA">CA</option>
                                                <option value="CO">CO</option>
                                                <option value="CT">CT</option>
                                                <option value="DE">DE</option>
                                                <option value="DC">DC</option>
                                                <option value="FL">FL</option>
                                                <option value="GA">GA</option>
                                                <option value="HI">HI</option>
                                                <option value="ID">ID</option>
                                                <option value="IL">IL</option>
                                                <option value="IN">IN</option>
                                                <option value="IA">IA</option>
                                                <option value="KS">KS</option>
                                                <option value="KY">KY</option>
                                                <option value="LA">LA</option>
                                                <option value="ME">ME</option>
                                                <option value="MD">MD</option>
                                                <option value="MA">MA</option>
                                                <option value="MI">MI</option>
                                                <option value="MN">MN</option>
                                                <option value="MS">MS</option>
                                                <option value="MO">MO</option>
                                                <option value="MT">MT</option>
                                                <option value="NE">NE</option>
                                                <option value="NV">NV</option>
                                                <option value="NH">NH</option>
                                                <option value="NJ">NJ</option>
                                                <option value="NM">NM</option>
                                                <option value="NY">NY</option>
                                                <option value="NC">NC</option>
                                                <option value="ND">ND</option>
                                                <option value="OH">OH</option>
                                                <option value="OK">OK</option>
                                                <option value="OR">OR</option>
                                                <option value="PA">PA</option>
                                                <option value="RI">RI</option>
                                                <option value="SC">SC</option>
                                                <option value="SD">SD</option>
                                                <option value="TN">TN</option>
                                                <option value="TX">TX</option>
                                                <option value="UT">UT</option>
                                                <option value="VT">VT</option>
                                                <option value="VA">VA</option>
                                                <option value="WA">WA</option>
                                                <option value="WV">WV</option>
                                                <option value="WI">WI</option>
                                                <option value="WY">WY</option>
                                              </select>
                      </div>
                      <div class="col">
                        <label for="zipcode">Zipcode</label>
                        <input type="name" name="zipcode" class="form-control" id="zipcode" placeholder="Enter Zipcode" required>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        <label for="zipcode">Capacity</label>
                        <input type="name" class="form-control" name="cap" id="zipcode" placeholder="Enter Capacity" required>
                      </div>
                      <div class="col">
                        <label for="state">Manager</label>
                        <select id="inputCompany" name="manager" class="form-control">
                                                <option selected>Choose...</option>
                                                {% for manager in managers %}
                                                <option>{{manager}}</option>
                                                {% endfor %}
                                              </select>
                      </div>
                  </div>
                    <div class="row">
                      <div class="col">
                        <div style="text-align:center">  
                          <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                        </div>
                      </div>
                      <div class="col">
                        <div style="text-align:center">  
                          <input type="submit" class="btn btn-primary mt-3 menuButton" value="Create"">
                        </div>
                      </div>
                    </div>
                        
                   
                  </form>
    </div>
  </div>
{% endblock %}