<!-- 

<div class="jumbotron jt2 mt-5">
  <h1 id="">Customer Registration</h1>
  <div class="row">
    <div class="col">
            <form id="menuHeader" method="POST" action="/register/customer">
                <label for="lname">Username</label>
                <div class="row">
                    <div class="col-6">
    
                        <input type="name" name="username" class="form-control" id="lastname" onKeyup="checkform()" placeholder="Enter Username" required>
                    </div>
                </div>
                <label for="fname">Your Name</label>
              <div class="row">
                <div class="col">
                    <input type="name" name="first" class="form-control" id="firstName" aria-describedby="firstname" onKeyup="checkform()" placeholder="Enter First Name" required>
                </div>
                <div class="col">
                    <input type="name" name="last" class="form-control" id="lastname" onKeyup="checkform()" placeholder="Enter Last Name" required>
                </div>
              </div>
              <div class="row">

              </div>
              <label for="fname">Password</label>
              <div class="row">
                  <div class="col">
                      <input type="password" name="password" class="form-control" id="password" aria-describedby="firstname" onKeyup="checkform()" placeholder="Enter Password" required>
                  </div>
                  <div class="col">
                      <input type="password" name="confPass" class="form-control" id="confPass" onKeyup="checkform()" placeholder="Confirm Password" required>
                  </div>
                </div>

              <div class="row mt-3">
                    <div class="col">
                            <label for="cc">Credit Card #: </label> 
                            <input type="text" placeholder="0000000000000000" id="ccNum">
                            <input type="button"  onclick="addCC()" value="+">
                          <script>
                            let creditCards = [];
                            var i = 0

                            function addCC() { 
                                
                                number = document.getElementById("ccNum").value;   
                                if (number.toString().length == 16 && creditCards.length < 5) {
                                  var dup = 0
                                  for (var i = 0; i<creditCards.length; ++i) {
                                      if (creditCards[i] == number) {
                                        dup = 1
                                      }
                                    }
                                  if (dup == 0) {
                                    creditCards[i] = number
                                    i++
                                  }
                                
    
                                text = "<ul>";
                                creditCards.forEach(listCC);
                                text += "</ul>";
                                text += '<input type="button" class="btn btn-primary mt-3 menuButton" onclick="removeCC()" value="-">'
                                document.getElementById("creditCards").innerHTML = text
                                document.getElementById("ccNum").value = "0000000000000000"
                                }
                            };

                            function removeCC() {
                              creditCards.pop()
                              i--
                              text = "<ul>";
                              creditCards.forEach(listCC);
                              text += "</ul>";
                              if (creditCards.length != 0) {
                                text += '<input type="button" class="btn btn-primary mt-3 menuButton" onclick="removeCC()" value="-">'
                              }
                              
                              document.getElementById("creditCards").innerHTML = text
                              document.getElementById("ccNum").value = "0000000000000000"
                            }

                            function listCC(number) {
                                text += "<li>" + number + "</li>";
                            };
                          </script>
                          </div>
                        <div class="col" id="creditCards">
                            
                        </div>
              </div>
                        
                        
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                    <button type="submit" id = "submitButton" class="btn btn-primary mt-3 menuButton">Submit</button>
                  </form>
    </div>
  </div> -->

{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Customer Registration</h1>
  <div class="row">
    <div class="col">
            <form id="menuHeader" method="POST" action="/register/customer">
                <label for="lname">Username</label>
                <div class="row">
                    <div class="col-6">
    
                        <input type="name" name="username" class="form-control" id="lastname" placeholder="Enter Username" required>
                    </div>
                </div>
                <label for="fname">Your Name</label>
              <div class="row">
                <div class="col">
                    <input type="name" name="first" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter First Name" required>
                </div>
                <div class="col">
                    <input type="name" name="last" class="form-control" id="lastname" placeholder="Enter Last Name" required>
                </div>
              </div>
              <div class="row">

              </div>
              <label for="fname">Password</label>
              <div class="row">
                  <div class="col">
                      <input type="password" name="password" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter Password" required>
                  </div>
                  <div class="col">
                      <input type="password" name="confPass" class="form-control" id="lastname" placeholder="Confirm Password" required>
                  </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                            <label for="cc">Credit Card #: </label> 
                            <input type="text" placeholder="0000000000000000" id="ccNum">
                            <input type="button"  onclick="addCC()" value="+">
                          <script>
                            let creditCards = [];
                            var i = 0

                            function addCC() { 
                                
                                number = document.getElementById("ccNum").value;   
                                if (number.toString().length == 16 && creditCards.length < 5) {
                                  var dup = 0
                                  for (var i = 0; i<creditCards.length; ++i) {
                                      if (creditCards[i] == number) {
                                        dup = 1
                                      }
                                    }
                                  if (dup == 0) {
                                    creditCards[i] = number
                                    i++
                                  }
                                
    
                                text = "<ul>";
                                creditCards.forEach(listCC);
                                text += "</ul>";
                                text += '<input type="button" class="btn btn-primary mt-3 menuButton" onclick="removeCC()" value="-">'
                                document.getElementById("creditCards").innerHTML = text
                                document.getElementById("ccNum").value = "0000000000000000"
                                }
                            };

                            function removeCC() {
                              creditCards.pop()
                              i--
                              text = "<ul>";
                              creditCards.forEach(listCC);
                              text += "</ul>";
                              if (creditCards.length != 0) {
                                text += '<input type="button" class="btn btn-primary mt-3 menuButton" onclick="removeCC()" value="-">'
                              }
                              
                              document.getElementById("creditCards").innerHTML = text
                              document.getElementById("ccNum").value = "0000000000000000"
                            }

                            function listCC(number) {
                                text += "<li>" + number + "</li>";
                            };
                          </script>
                          </div>
                        <div class="col" id="creditCards">
                            
                        </div>
              </div>
                        
                        <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                    <button type="submit" class="btn btn-primary mt-3 menuButton">Submit</button>
                  </form class="mb-3">
                  
                  {% if messages %}
                  <ul class="mt-4" style="color:red;">
                    <li>{{ messages}}</li>
                      
                  </ul>
                  {% endif %}
    </div>
  </div>
{% endblock %}