{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Manager & Customer Registration</h1>
  <div class="row">
    <div class="col">
            <form method="POST" action="/register/mancust">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Username</label>
                        </div>
                        <div class="col">
                                <label for="lname">Company</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
        
                                    <input type="name" name="username" class="form-control" id="lastname" placeholder="Enter Username" required>
                                </div>
                                <div class="col">
                                        <select id="inputState" name="company" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>...</option>
                                              </select>
    
                                    </div>
                    </div>
                    <label for="fname">Your Name</label>
                  <div class="row">
                    <div class="col">
                        <input type="name" name="first" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter First Name" required>
                    </div>
                    <div class="col">
                        <input type="name" name="last" class="form-control" id="lastname" placeholder="Enter Last Name" required>
                    </div>
                  </div>
                  <div class="row">
    
                  </div>
                  <label for="fname">Password</label>
                  <div class="row">
                      <div class="col">
                          <input type="password" name="password" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter Password" required>
                      </div>
                      <div class="col">
                          <input type="password" name="confPass" class="form-control" id="lastname" placeholder="Confirm Password" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" name="street" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" name="city" class="form-control" id="inputCity" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" name="state" class="form-control" required>
                          <option selected>Choose...</option>
                          <option value="AL">AL</option>
                          <option value="AK">AK</option>
                          <option value="AZ">AZ</option>
                          <option value="AR">AR</option>
                          <option value="CA">CA</option>
                          <option value="CO">CO</option>
                          <option value="CT">CT</option>
                          <option value="DE">DE</option>
                          <option value="DC">DC</option>
                          <option value="FL">FL</option>
                          <option value="GA">GA</option>
                          <option value="HI">HI</option>
                          <option value="ID">ID</option>
                          <option value="IL">IL</option>
                          <option value="IN">IN</option>
                          <option value="IA">IA</option>
                          <option value="KS">KS</option>
                          <option value="KY">KY</option>
                          <option value="LA">LA</option>
                          <option value="ME">ME</option>
                          <option value="MD">MD</option>
                          <option value="MA">MA</option>
                          <option value="MI">MI</option>
                          <option value="MN">MN</option>
                          <option value="MS">MS</option>
                          <option value="MO">MO</option>
                          <option value="MT">MT</option>
                          <option value="NE">NE</option>
                          <option value="NV">NV</option>
                          <option value="NH">NH</option>
                          <option value="NJ">NJ</option>
                          <option value="NM">NM</option>
                          <option value="NY">NY</option>
                          <option value="NC">NC</option>
                          <option value="ND">ND</option>
                          <option value="OH">OH</option>
                          <option value="OK">OK</option>
                          <option value="OR">OR</option>
                          <option value="PA">PA</option>
                          <option value="RI">RI</option>
                          <option value="SC">SC</option>
                          <option value="SD">SD</option>
                          <option value="TN">TN</option>
                          <option value="TX">TX</option>
                          <option value="UT">UT</option>
                          <option value="VT">VT</option>
                          <option value="VA">VA</option>
                          <option value="WA">WA</option>
                          <option value="WV">WV</option>
                          <option value="WI">WI</option>
                          <option value="WY">WY</option>

                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" name="zipcode" class="form-control" id="inputZip" required>
                      </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                                <label for="cc">Credit Card #: </label> 
                                <input type="text" placeholder="0000000000000000" id="ccNum">
                                <input type="button"  onclick="addCC()" value="+">
                              <script>
                                let creditCards = [];
                                var i = 0
    
                                function addCC() { 
                                    
                                    number = document.getElementById("ccNum").value;   
                                    if (number.toString().length == 16 && creditCards.length < 5) {
                                      var dup = 0
                                      for (var i = 0; i<creditCards.length; ++i) {
                                          if (creditCards[i] == number) {
                                            dup = 1
                                          }
                                        }
                                      if (dup == 0) {
                                        creditCards[i] = number
                                        i++
                                      }
                                    
        
                                    text = "<ul>";
                                    creditCards.forEach(listCC);
                                    text += "</ul>";
                                    text += '<input type="button" class="btn btn-primary mt-3 menuButton" onclick="removeCC()" value="-">'
                                    document.getElementById("creditCards").innerHTML = text
                                    document.getElementById("ccNum").value = "0000000000000000"
                                    }
                                };
    
                                function removeCC() {
                                  creditCards.pop()
                                  i--
                                  text = "<ul>";
                                  creditCards.forEach(listCC);
                                  text += "</ul>";
                                  if (creditCards.length != 0) {
                                    text += '<input type="button" class="btn btn-primary mt-3 menuButton" onclick="removeCC()" value="-">'
                                  }
                                  
                                  document.getElementById("creditCards").innerHTML = text
                                  document.getElementById("ccNum").value = "0000000000000000"
                                }
    
                                function listCC(number) {
                                    text += "<li>" + number + "</li>";
                                };
                              </script>
                              </div>
                            <div class="col" id="creditCards">
                                
                            </div>
                  </div>
                                

                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                    <button type="submit" class="btn btn-primary mt-3 menuButton">Submit</button>  
                        
                   
                  </form>
                  {% if messages %}
                  <ul class="mt-4" style="color:red;">
                    <li>{{ messages}}</li>
                      
                  </ul>
                  {% endif %}
    </div>
  </div>
{% endblock %}