{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Admin-Only Functionality</h1>
  <div class="row">
    <div class="col">
              <div class="row">
                <div class="col">
                  <a href="http://localhost:5000/manage/user">
                    <input type="submit" class="btn btn-primary mt-3 menuButton" value="Manage User">
                  </a>
                </div>
                <div class="col">
                  <a href="http://localhost:5000/theater/explore">
                    <input type="submit" class="btn btn-primary mt-3 menuButton" value="Explore Theater">
                  </a>
                </div>
              </div>
                <div class="row">
                    <div class="col">
                      <a href="http://localhost:5000/manage/company">
                        <input type="submit" class="btn btn-primary mt-3 menuButton" value="Manage Company">
                      </a>
                    </div>
                    <div class="col">
                      <a href="http://localhost:5000/visit/history">
                        <input type="submit" class="btn btn-primary mt-3 menuButton" value="Visit History">
                      </a>
                    </div>
                </div>
              <div class="row">
                    <div class="col">
                      <a href="http://localhost:5000/manage/company/create/movie">
                        <input type="submit" class="btn btn-primary mt-3 menuButton" value="Create Movie">
                      </a>
                    </div>
                    <div class="col">
                      <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                    </div>
                </div>
    </div>
  </div>
{% endblock %}