{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Explore Movie</h1>
  <div class="row">
    <div class="col">
            <form method="POST" action="/movie/explore">
                <input type="hidden" name="hidden" value="true">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Movie Name</label>
                        </div>
                        <div class="col">
                                <label for="lname">Company Name</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                    <select name="movie" id="inputStatus" class="form-control">
                                                <option selected>All</option>
                                                {% for movie in movies %}
                                                <option>{{movie}}</option>
                                                {% endfor %}
                                              </select>
                                </div>
                                <div class="col">
                                  <select id="inputStatus" name="company" class="form-control">>
                                      <option selected>All</option>
                                    {% for company in companies %}
                                      <option>{{company}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                    </div>
                    <div class="row">
                      <div class="col">
                                <label for="lname">City</label>
                        </div>
                        <div class="col">
                                <label for="lname">State</label>
                                
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                  <input type="name" name="city" class="form-control" id="lowEmp">
                                  </div>
                                <div class="col">
                                      <select id="inputStatus" name="state" class="form-control">
                                          <option selected>All</option>
                                          <option value="AL">AL</option>
                                          <option value="AK">AK</option>
                                          <option value="AZ">AZ</option>
                                          <option value="AR">AR</option>
                                          <option value="CA">CA</option>
                                          <option value="CO">CO</option>
                                          <option value="CT">CT</option>
                                          <option value="DE">DE</option>
                                          <option value="DC">DC</option>
                                          <option value="FL">FL</option>
                                          <option value="GA">GA</option>
                                          <option value="HI">HI</option>
                                          <option value="ID">ID</option>
                                          <option value="IL">IL</option>
                                          <option value="IN">IN</option>
                                          <option value="IA">IA</option>
                                          <option value="KS">KS</option>
                                          <option value="KY">KY</option>
                                          <option value="LA">LA</option>
                                          <option value="ME">ME</option>
                                          <option value="MD">MD</option>
                                          <option value="MA">MA</option>
                                          <option value="MI">MI</option>
                                          <option value="MN">MN</option>
                                          <option value="MS">MS</option>
                                          <option value="MO">MO</option>
                                          <option value="MT">MT</option>
                                          <option value="NE">NE</option>
                                          <option value="NV">NV</option>
                                          <option value="NH">NH</option>
                                          <option value="NJ">NJ</option>
                                          <option value="NM">NM</option>
                                          <option value="NY">NY</option>
                                          <option value="NC">NC</option>
                                          <option value="ND">ND</option>
                                          <option value="OH">OH</option>
                                          <option value="OK">OK</option>
                                          <option value="OR">OR</option>
                                          <option value="PA">PA</option>
                                          <option value="RI">RI</option>
                                          <option value="SC">SC</option>
                                          <option value="SD">SD</option>
                                          <option value="TN">TN</option>
                                          <option value="TX">TX</option>
                                          <option value="UT">UT</option>
                                          <option value="VT">VT</option>
                                          <option value="VA">VA</option>
                                          <option value="WA">WA</option>
                                          <option value="WV">WV</option>
                                          <option value="WI">WI</option>
                                          <option value="WY">WY</option>
                                        </select>
                                  </div>
                    </div>
                    <div class="row">
                        <div class="col">
                                <label for="lname">Movie Play Date</label>
                                
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="date" name="pd_start" class="form-control" id="lowTheater">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="date" name="pd_end" class="form-control" id="upTheater">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                  <div class="row">
                    <div class="col" style="text-align:center" >
                        <input type="submit" class="btn btn-primary mt-3 menuButton" value="Filter">  
                    </div>
                    
                  </div>
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
            </form>
            <form method="POST" action="/movie/explore">
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="companyTable" class="w3-table-all">
                       
                      <tr>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Movie Name</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Theater</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Address</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Company</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Release Date</th>
                      </tr> 
                      {% for data in datas %}
                      <tr class="item">
                        <td><input type="radio" name="th_group" value="{{data[0]}}|{{data[8]}}|{{data[1]}}|{{data[6]}}|{{data[7]}}"> {{data[0]}}</td>
                        <td>{{data[1]}}</td>
                        <td>{{data[2]}} {{data[3]}}, {{data[4]}}, {{data[5]}}</td></td>
                        <td>{{data[6]}}</td>
                        <td>{{data[7]}}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="window.location.href = '/dashboard'">
                    </div>
                    <div class="col">
                      <label for="lname"> </label>
                      <select id="inputStatus" name="cc" class="form-control">
                                                {%for cc in ccs%}
                                                <option>{{cc}}</option>
                                                {% endfor %}
                                              </select>
                    </div>
                    <input type="hidden" name="hidden" value="false">
                    <div class="col">
                      <button type="submit" class="btn btn-primary mt-3 menuButton">View</button>
                    </div>
                  </div>
                        
                  </form>
    </div>
  </div>
{% endblock %}