{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Admin Manage User</h1>
  <div class="row">
    <div class="col">
            <form method="POST" action="/manage/user">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Username</label>
                        </div>
                        <div class="col">
                                <label for="lname">Status</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
        
                                    <input type="name" class="form-control" name="uname" placeholder="Enter Username">
                                </div>
                                <div class="col">
                                        <select id="inputStatus" name="status" class="form-control">
                                                <option selected>All</option>
                                                <option>Pending</option>
                                                <option>Declined</option>
                                                <option>Approved</option>
                                              </select>
    
                                    </div>
                    </div>
                  <div class="row">
                    <div class="col">
                        <button type="submit" name="submit" value="filter" class="btn btn-primary mt-3 menuButton">Filter</button>  
                    </div>
                    <div class="col">
                        <button type="submit" name="submit" value="approve" class="btn btn-primary mt-3 menuButton">Approve</button> 
                        <button type="submit" name="submit" value="decline" class="btn btn-primary mt-3 menuButton">Decline</button>   
                    </div>
                    
                  </div>
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="usersTable" class="w3-table-all">
                       
                      <tr>
                        <th>Username<input type="checkbox" name="checkSort" value="username"><input type="checkbox" name="checkOrder" value="1"></th>
                        <th>Credit Card Count<input type="checkbox" name="checkSort" value="creditCardCount"><input type="checkbox" name="checkOrder" value="2"></th>
                        <th>User Type<input type="checkbox" name="checkSort" value="userType"><input type="checkbox" name="checkOrder" value="3"></th>
                        <th>Status<input type="checkbox" name="checkSort" value="status"><input type="checkbox" name="checkOrder" value="4"></th>
                      </tr> 

                      {% for user in users%}
                      <tr class="item">
                        <td><input type="radio" name="radio" value="{{user[0]}}">{{user[0]}}</input><br></td>
                        <td>{{user[1]}}</td>
                        <td>{{user[2]}}</td>
                        <td>{{user[3]}}</td>
                      </tr>
                      {% endfor %}


                    </table>
                  </div>
                  
                    <div style="text-align:center">  
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="window.location.href = '/dashboard'">
                  </div>
                        
                   
                  </form>
    </div>
  </div>
{% endblock %}