{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Admin Manage Company</h1>
  <div class="row">
    <div class="col">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Name</label>
                        </div>
                        <div class="col">
                                <label for="lname"># Cities Covered</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                    <select id="inputName" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>...</option>
                                              </select>
                                </div>
                                <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="name" class="form-control" id="lowCity">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="name" class="form-control" id="upCity">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                    <div class="row">
                      <div class="col">
                                <label for="lname"># Theaters</label>
                        </div>
                        <div class="col">
                                <label for="lname"># Employees</label>
                                
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="name" class="form-control" id="lowTheater">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="name" class="form-control" id="upTheater">
                                        </div>
                                    </div>
                                  </div>
                                <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="name" class="form-control" id="lowEmp">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="name" class="form-control" id="upEmp">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                  <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary mt-3 menuButton">Filter</button>  
                    </div>
                    <div class="col">
                        <a href="company/create/theater">
                          <input type="submit" class="btn btn-primary mt-3 menuButton" value="Create Theater">
                        </a>
                        <a href="company/name">
                          <input type="submit" class="btn btn-primary mt-3 menuButton" value="Detail">
                        </a>
                    </div>
                    
                  </div>
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="companyTable" class="w3-table-all">
                       
                      <tr>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Name</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">#CityCovered</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">#Theaters</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">#Employee</th>
                      </tr> 

                      <tr class="item">
                        <td><input type="checkbox" name="checkbox" value="Not played"> user:2911002<br></td>
                        <td>UK</td>
                        <td>Melissa</td>
                        <td>Pending</td>
                      </tr>
                      <tr class="item">
                        <td><input type="checkbox" name="checkbox" value="Not played"> user:2911002<br></td>
                        <td>France</td>
                        <td>Justin</td>
                        <td>Pending</td>
                      </tr>
                      <tr class="item">
                        <td><input type="checkbox" name="checkbox" value="Not played"> user:2911002<br></td>
                        <td>San Francisco</td>
                        <td>Judy</td>
                        <td>Pending</td>
                      </tr>
                      <tr class="item">
                        <td><input type="checkbox" name="checkbox" value="Not played"> user:2911002<br></td>
                        <td>Canada</td>
                        <td>Skipper</td>
                        <td>Pending</td>
                      </tr>
                      <tr class="item">
                        <td><input type="checkbox" name="checkbox" value="Not played"> user:2911002<br></td>
                        <td>Christchurch</td>
                        <td>Alex</td>
                      </tr>

                    </table>
                  </div>
                  <div style="text-align:center">  
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                  </div>
                        
    </div>
  </div>
{% endblock %}