{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Admin Manage Company</h1>
  <div class="row">
    <div class="col">
      <form method="POST" action="/manage/company">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Name</label>
                        </div>
                        <div class="col">
                                <label for="lname"># Cities Covered</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                    <select id="inputName" name="company" value="company" class="form-control">
                                        <option selected>ALL</option>
                                        {% for comp in comps%}
                                        <option>{{comp[0]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input class="form-control" name="lowCity">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input class="form-control" name="upCity">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                    <div class="row">
                      <div class="col">
                                <label for="lname"># Theaters</label>
                        </div>
                        <div class="col">
                                <label for="lname"># Employees</label>
                                
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input class="form-control" name="lowTheater">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input class="form-control" name="upTheater">
                                        </div>
                                    </div>
                                  </div>
                                <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input class="form-control" name="lowEmp">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input class="form-control" name="upEmp">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                  <div class="row">
                    <div class="col">
                        <button type="submit" name="submit" value="filter" class="btn btn-primary mt-3 menuButton">Filter</button> 
                    </div>
                    <div class="col">
                        <!-- <a href="company/create/theater">
                          <input type="submit" class="btn btn-primary mt-3 menuButton" value="Create Theater">
                        </a> -->
                        <button type="submit" name="submit" value="create" class="btn btn-primary mt-3 menuButton">Create Theater</button> 
                        <!-- <a href="company/name">
                          <input type="submit" class="btn btn-primary mt-3 menuButton" value="Detail">
                        </a> -->
                        <button type="submit" name="submit" value="detail" class="btn btn-primary mt-3 menuButton">Detail</button> 
                    </div>
                    
                  </div>
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="companyTable" class="w3-table-all">
                       
                      <tr>
                        <th>Name<input type="checkbox" name="checkSort" value="comName"><input type="checkbox" name="checkOrder" value="1"></th>
                        <th>#CityCovered<input type="checkbox" name="checkSort" value="numCityCover"><input type="checkbox" name="checkOrder" value="2"></th>
                        <th>#Theaters<input type="checkbox" name="checkSort" value="numTheater"><input type="checkbox" name="checkOrder" value="3"></th>
                        <th>#Employee<input type="checkbox" name="checkSort" value="numEmployee"><input type="checkbox" name="checkOrder" value="4"></th>
                      </tr> 
                      {% for comp in comps%}
                      <tr class="item">
                        <td><input type="radio" name="radio" value="{{comp[0]}}"> {{comp[0]}}<br></td>
                        <td>{{comp[1]}}</td>
                        <td>{{comp[2]}}</td>
                        <td>{{comp[3]}}</td>
                      </tr>
                      {% endfor %}

                    </table>
                  </div>
                  <div style="text-align:center">  
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                  </div>
              </form>   
    </div>
  </div>
{% endblock %}