{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Theater Overview</h1>
  <div class="row">
    <div class="col">
            <form method="POST" action="/theater/overview">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Movie Name</label>
                        </div>
                        <div class="col">
                                <label for="lname">Movie Duration</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
                                    <input type="name" name="movie" class="form-control" id="name">
                                </div>
                                <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="number" name="durStart" class="form-control" id="lowCity">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="number" name="durEnd" class="form-control" id="upCity">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                    <div class="row">
                      <div class="col">
                                <label for="lname">Movie Release Date</label>
                        </div>
                        <div class="col">
                                <label for="lname">Movie Play Date</label>
                                
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="date" name="minRd" class="form-control" id="lowTheater">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="date" name="maxRd" class="form-control" id="upTheater">
                                        </div>
                                    </div>
                                  </div>
                                <div class="col">
                                  <div class="row">
                                  <div class="col">
                                        <input type="date" name="minPd" class="form-control" id="lowEmp">
                                        </div>
                                  <div class="col">
                                        <center for="to">to</center>
                                        </div>
                                  <div class="col">
                                        <input type="date" name="maxPd" class="form-control" id="upEmp">
                                        </div>
                                    </div>
                                  </div>
                    </div>
                    <div class="row">
                      <div class="col" style="text-align:center" >
                        <input type="checkbox" name="np" value="Not played"> Only Include Not Played Movies<br>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col" style="text-align:center" >
                        <input type="submit" class="btn btn-primary mt-3 menuButton" value="Filter">
                    </div>
                  </div>
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="companyTable" class="w3-table-all">
                       
                      <tr>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Movie Name</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Duration</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Release Date</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Play Date</th>
                      </tr> 
                      
                      {% for data in datas %}
                      <tr class="item">
                        <td>{{data[0]}}</td>
                        <td>{{data[1]}}</td>
                        <td>{{data[2]}}</td>
                        <td>{{data[3]}}</td>
                      </tr>
                      {% endfor %}

                    </table>
                  </div>
                  <div style="text-align:center">  
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="window.location.href = '/dashboard'">
                  </div>
                        
                   
                  </form>
    </div>
  </div>
{% endblock %}