{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">User Registration</h1>
  <div class="row">
    <div class="col">
            <form id="menuHeader" method="POST" action="/register/user">
                <label for="lname">Username</label>
                <div class="row">
                    <div class="col-6">
    
                        <input type="name" name="username" class="form-control" id="lastname" placeholder="Enter Username" required>
                    </div>
                </div>
                <label for="fname">Your Name</label>
              <div class="row">
                <div class="col">
                    <input type="name" name="first" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter First Name" required>
                </div>
                <div class="col">
                    <input type="name" name="last" class="form-control" id="lastname" placeholder="Enter Last Name" required>
                </div>
              </div>
              <div class="row">

              </div>
              <label for="fname">Password</label>
              <div class="row">
                  <div class="col">
                      <input type="password" name="password" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter Password" required>
                  </div>
                  <div class="col">
                      <input type="password" name="confPass" class="form-control" id="lastname" placeholder="Confirm Password" required>
                  </div>
                </div>
                        
                        
                        <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="window.location.href = '/dashboard'">
                    <button type="submit" class="btn btn-primary mt-3 menuButton">Submit</button>
                  </form class="mb-3">
                  
                  {% if messages %}
                  <ul class="mt-4" style="color:red;">
                    <li>{{ messages}}</li>
                      
                  </ul>
                  {% endif %}
    </div>
  </div>
{% endblock %}