{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">View History</h1>
  <div class="row">
    <div class="col">
            <form>
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="companyTable" class="w3-table-all">
                       
                      <tr>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Movie Name</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Theater</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Company</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Credit Card</th>
                        <th onclick="w3.sortHTML('#companyTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">View Date</th>
                      </tr> 

                      {% for movie in history%}
                      <tr class="item">
                        <td>{{movie[0]}}</td>
                        <td>{{movie[1]}}</td>
                        <td>{{movie[2]}}</td>
                        <td>{{movie[3]}}</td>
                        <td>{{movie[4]}}</td>
                      </tr>
                      {% endfor %}

                    </table>
                  </div>
                  <div style="text-align:center">  
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="window.location.href = '/dashboard'">
                  </div>
                        
                   
                  </form>
    </div>
  </div>
{% endblock %}