{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Company Details</h1>
  <div class="row">
    <div class="col">
            <form>
                    <div class="row">
                        <div class="col">
                                <label for="lname">Name</label>
                        </div>
                        <div class="col">
                                <label for="lname">Employees</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
        
                                    <label for="lname">Company X</label>
                                </div>
                                <div class="col">
                                  <label for="lname">Employee X</label>
                                </div>
                    </div>
<!--                   <div class="row"> -->
                    <div style="text-align:center">  
                      <h3 for="lname">Theaters</h3>
                    </div>
                    
                  <!-- </div> -->
                  <div class="row">
                    <label for="lname"> </label>
                  </div>
                  <div class="row">
                    <script src="https://www.w3schools.com/lib/w3.js"></script>
                    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
                      <table id="usersTable" class="w3-table-all">
                       
                      <tr>
                        <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Name</th>
                        <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Manager</th>
                        <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">City</th>
                        <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">State</th>
                        <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Capacity</th>
                      </tr> 

                      <tr class="item">
                        <td>user:2911002</td>
                        <td>UK</td>
                        <td>Melissa</td>
                        <td>Pending</td>
                      </tr>

                    </table>
                  </div>
                  
                    <div style="text-align:center">  
                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                  </div>
                        
                   
                  </form>
    </div>
  </div>
{% endblock %}