body {

    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c1053, #ad5389); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: #fefefe; */
    background-image: url("assets/wp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#loginForm {
    /* background: #fefeff; */
    border-radius: 5px;
    padding: 5px;
}

.jumbotron {
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
}

.jt2 {
    background-color: #fefefe;
    font-family: 'Nunito', sans-serif;
    color: grey;
}

button {
    border-radius: 30px;
}
