{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <h1 id="">Manager & Customer Registration</h1>
  <div class="row">
    <div class="col">
            <form action="http://localhost:5000/">
                    <div class="row">
                        <div class="col">
                                <label for="lname">Username</label>
                        </div>
                        <div class="col">
                                <label for="lname">Company</label>
                                
                        </div>
                    </div>

                    <div class="row">
                            <div class="col">
        
                                    <input type="name" class="form-control" id="lastname" placeholder="Enter Username" required>
                                </div>
                                <div class="col">
                                        <select id="inputState" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>...</option>
                                              </select>
    
                                    </div>
                    </div>
                    <label for="fname">Your Name</label>
                  <div class="row">
                    <div class="col">
                        <input type="name" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter First Name" required>
                    </div>
                    <div class="col">
                        <input type="name" class="form-control" id="lastname" placeholder="Enter Last Name" required>
                    </div>
                  </div>
                  <div class="row">
    
                  </div>
                  <label for="fname">Password</label>
                  <div class="row">
                      <div class="col">
                          <input type="password" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter Password" required>
                      </div>
                      <div class="col">
                          <input type="password" class="form-control" id="lastname" placeholder="Confirm Password" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control" required>
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip" required>
                      </div>
                    </div>
                    <div class="row mt-3">
                            <div class="col">
                                    <label for="cc">Credit Card #: </label> 
                                    <input type="text" placeholder="00000000000">
                                    <input type="button" id="addCC" value="+">
                                </div>
                                <div class="col">
                                    
                                </div>
                      </div>
                                

                    <input type="button" class="btn btn-primary mt-3 menuButton" value="Back" onclick="history.back()">
                    <button type="submit" class="btn btn-primary mt-3 menuButton">Submit</button>  
                        
                   
                  </form>
    </div>
  </div>
{% endblock %}