{% extends 'registerBase.html' %}

{% block jumbo %}
<div class="jumbotron jt2 mt-5">
  <div class="row">
    <div class="col-6">
      <h1>What Kind of User Are You?</h1>
    </div>
    <div class="col-6">
      <form>
        <div class="form-group row">
          <button type="submit" class="btn btn-dark pl-5 pr-5">User</button>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-dark pl-5 pr-5">Customer</button>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-dark pl-5 pr-5">Manager</button>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-dark">Manager & Customer</button>
        </div>
        <div class="form-group row">
                <button type="submit" class="btn btn-dark pl-5 pr-5">Back</button>
        </div>
        
      </form> 
    </div>
  </div>
{% endblock %}